.modal {
  .modal-card {
    &.is-small {
      width: calc(30vw);
    }

    &.is-half {
      width: calc(50vw);
    }

    &.is-medium {
      width: calc(70vw);
    }

    &.is-large {
      width: calc(100vw - 40px);
    }
  }

  .modal-card-head {
    padding: 1rem;

    &.hero {
      flex-direction: unset;
    }
  }

  p:not(:last-child), dl:not(:last-child), ol:not(:last-child), ul:not(:last-child) blockquote:not(:last-child), pre:not(:last-child), table:not(:last-child) {
    margin-bottom: 0;
  }

  .modal-card-foot {
    padding: 1rem;
  }
}
