$modal-z-index: 60 !default;
$modal-radius: 5px !default;
$modal-margin: 1rem !default;
$modal-mobile-width: calc(100vw - #{$modal-margin}) !default;
$modal-heading-border: 1px solid $opaque !default;
$modal-max-height: 98vh !default;

.t-modal {
  z-index: $modal-z-index + 1;
  background-color: $white-bis;
  border-radius: $modal-radius;
  margin: $modal-margin;
  width: $modal-mobile-width;
  max-height: $modal-max-height;
  overflow-y: auto;
  @include box-shadow($v-shadow: 2px, $blur: 10px, $color: tint($black, 30%));

  &.small {
    @include tablet-up {
      width: calc(38vw - (#{$modal-margin}*2));
    }
  }

  &.half {
    @include tablet-up {
      width: calc(54vw - (#{$modal-margin}*2));
    }
  }

  &.medium {
    @include tablet-up {
      width: calc(78vw - (#{$modal-margin}*2));
    }
  }

  &.large {
    @include tablet-up {
      width: calc(96vw - (#{$modal-margin}*2));
    }
  }

  &__mask {
    width: 100%;
    height: 100%;
    background-color: rgba($black-bis, 0.5);
    position: absolute;
  }
  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: $modal-z-index;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    overflow-y: scroll;
  }

  &__heading {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: $modal-radius;
    border-top-right-radius: $modal-radius;
    border-bottom: $modal-heading-border;
  }

  &__body {
    padding: 1em;
  }

  &__footer {
    padding: 1em;
  }
}
