$primary: #29bf94 !default;
$secondary: #77d5b9 !default;
$danger: #f44336 !default;
$moderate: #ff8f00 !default;
$info: #35a2fc !default;
$warning: #fcbd22 !default;
$link: #2dc0e1 !default;
$success: #25b968 !default;
$happy: #21b99e !default;
$light: #f1f8e9 !default;
$opaque: #a2bec4 !default;
$dark: #2c3e50 !default;
@import "../colors_invert";
