$primary: #29bf94 !default;
$secondary: #77D5B9 !default;
$danger: #F44336 !default;
$moderate: #FF8F00 !default;
$info: #35a2fc !default;
$warning: #fcbd22 !default;
$link: #2dc0e1 !default;
$success: #25b968 !default;
$happy: #21b99e !default;
$light: #F1F8E9 !default;
$opaque: #a2bec4 !default;
$dark: #2C3E50 !default;
@import "../colors_invert";
