$primary: #74c9e0 !default;
$primary-invert: $white-bis !default;
$secondary: #5dd9dd !default;
$secondary-invert: findColorInvert($secondary) !default;
$danger: #fa3929 !default;
$danger-invert: findColorInvert($danger) !default;
$moderate: #fa9137 !default;
$moderate-invert: findColorInvert($moderate) !default;
$info: #0095ca !default;
$info-invert: findColorInvert($info) !default;
$warning: #EAD046 !default;
$warning-invert: findColorInvert($warning) !default;
$link: #00a7da !default;
$link-invert: findColorInvert($link) !default;
$success: #4fbf84 !default;
$success-invert: findColorInvert($success) !default;
$happy: #3a8c7b !default;
$happy-invert: findColorInvert($happy) !default;
$light: #e6f4f1 !default;
$light-invert: findColorInvert($light) !default;
$opaque: #96b0b7 !default;
$opaque-invert: findColorInvert($light) !default;
$dark: #334a51 !default;
$dark-invert: findColorInvert($dark) !default;
