$primary: #17AFE7 !default;
$secondary: #00c6e5 !default;
$danger: #F44336 !default;
$moderate: #fa9137 !default;
$info: #0477DC !default;
$warning: #f4e649 !default;
$link: #168FDA !default;
$success: #2DD159 !default;
$happy: #0da97f !default;
$light: #F5F5F5 !default;
$opaque: #d8e5e3 !default;
$dark: #334a51 !default;
@import "../colors_invert";
