$primary: #17afe7 !default;
$secondary: #00c6e5 !default;
$danger: #f44336 !default;
$moderate: #fa9137 !default;
$info: #0477dc !default;
$warning: #f4e649 !default;
$link: #168fda !default;
$success: #2dd159 !default;
$happy: #0da97f !default;
$light: #f5f5f5 !default;
$opaque: #c1cdcb !default;
$dark: #334a51 !default;
@import "../colors_invert";
