$notification-radius: 4px !default;
$notification-padding: 1.25rem 2.5rem 1.25rem 1.5rem !default;
$notification-padding-compact: 0.55rem 1.25rem 0.55rem 1.25rem !default;
$notification-margin: 0.7rem !default;

.t-notification {
  padding: $notification-padding;
  border-radius: $notification-radius;
  margin: $notification-margin;
  display: block;
  text-align: left;
  text-decoration: none;
  position: relative;
  @include transitions;
  @include notification-shadow;

  &.compact {
    padding: $notification-padding-compact;
  }

  &__close {
    position: absolute;
    top: 7px;
    right: 7px;
  }
}

.t-toast {
  position: absolute;
  z-index: 100;
  transition: 0.5s ease-in-out;
  width: 300px;
  word-wrap: anywhere;

  .t-icon {
    padding-right: 1.3em;
    padding-left: 0.5em;
    transform: scale(1.2);
  }

  .notification {
    @include toast-shadow;
  }

  &.empty {
    opacity: 0;
    z-index: -1;
    height: 0;
  }
}

$error-help-color: $danger !default;
$error-help-background: tint($danger, 50%) !default;

@mixin mobile-helper {
  content: attr(msg);
  position: absolute;
  color: $error-help-color;
  background: none;
  right: 0;
  left: unset;
  bottom: 100%;
  margin-left: 8px;
  border: none;
  min-width: 50%;
  max-width: 90%;
  height: auto;
  font-size: 0.65em;
  line-height: 1.4em;
  text-transform: uppercase;
  text-align: right;
  padding: 4px 2px;
  pointer-events: none;
  z-index: 10;
  opacity: 1;
}

.t-hint {
  background-color: transparent;
  border: none;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  padding: 0;
  margin: 0;
  display: flex;

  &:not(.popup)::after {
    @include mobile-helper;
  }

  &:hover::after {
    opacity: 1;
  }
}
