.t-slide {
  display: flex;
  transition: 0.5s ease-in-out width;
  z-index: 50;

  @include until($tablet) {
    position: absolute !important;
    height: 100%;

    &.tablet, &.desktop  {
      display: none;
    }
  }

  @include until($desktop) {

    &.desktop  {
      display: none;
    }
  }

  &.is-right {
    right: 0;
  }

  &.is-fixed {
    height: 100%;
    z-index: 60;
  }

  &.is-sticky {
    max-height: 100vh;
    top: 0;
  }

  &.is-absolute {
    height: 100%;
    z-index: 60;
  }

}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
