/* Common */
$base-shadow: 0 0 0.125em !default;
$base-shadow-color: $dark !default;
$base-shadow-alpha: 0.3 !default;
$separation-margin: 1.5rem !default;
$content-padding: 1.5rem !default;

/* Card */
$card-background-color: $white !default;
$card-color: $dark !default;
$card-head-color: $dark !default;
$card-font-size: 1.4rem !default;
$card-shadow-color: rgba(0, 0, 0, 0.05) !default;
$card-shadow: 0 4px 15px $card-shadow-color !default;

/* Nav Drawer */
$nav-drawer-background-color: rgba($primary, 0.03) !default;
$nav-drawer-item-color: rgba($dark, 0.9) !default;
$nav-drawer-active-color: $link !default;
$nav-drawer-active-background-color: rgba($primary, 0.4) !default;
$nav-drawer-hover-background-color: rgba($primary, 0.4) !default;
$nav-drawer-icon-color: rgba($primary, 0.9) !default;
$nav-drawer-label-color: $primary_invert !default;
$nav-drawer-label-background-color: $primary !default;
$nav-drawer-label-border-radius: 6px !default;
$nav-drawer-label-shadow-color: rgba(0, 0, 0, 0.05) !default;
$nav-drawer-label-shadow: 0 4px 15px $card-shadow-color !default;
$nav-drawer-font-size: 1rem !default;
$nav-drawer-font-weight: normal !default;

/* Navbar */
$navbar-item-img-max-height: 100%;

/* Tree view */
$tree-view-item-color: $dark !default;
$tree-view-active-color: $link !default;
$tree-view-active-background-color: rgba($primary, 0.4) !default;
$tree-view-hover-background-color: rgba($primary, 0.4) !default;
$tree-view-icon-color: rgba($primary, 0.9) !default;
$tree-view-label-color: $dark !default;
$tree-view-label-background-color: $primary !default;
$tree-view-label-border-radius: 6px !default;
$tree-view-label-shadow-color: rgba(0, 0, 0, 0.05) !default;
$tree-view-label-shadow: 0 4px 15px $card-shadow-color !default;
$tree-view-font-size: 1rem !default;
$tree-view-font-weight: normal !default;

/* Buttons */
$bt-size-1: 3rem !default;
$bt-size-2: 2.5rem !default;
$bt-size-3: 2rem !default;
$bt-size-4: 1.5rem !default;
$bt-size-5: 1.25rem !default;
$bt-size-6: 1rem !default;
$bt-size-7: 0.7rem !default;

$bt-size-small: $bt-size-7 !default;
$bt-size-normal: 0.85rem !default;
$bt-size-medium: $bt-size-5 !default;
$bt-size-large: $bt-size-4 !default;

$bt-radius-small: 2px !default;
$bt-radius-normal: 3px !default;
$bt-radius-medium: 4px !default;
$bt-radius-large: 6px !default;

$btn-margin: 8px;
$btn-margin-compact: 4px;

/* Floating Buttons */
$floating-button-color: $primary-invert !default;
$floating-button-background-color: rgba($primary, 0.9) !default;
$floating-button-shadow-color: rgba(0, 0, 0, 0.2) !default;
$floating-button-option-color: $primary-invert !default;
$floating-button-option-label-color: $primary !default;
$floating-button-option-label-bg-color: rgba($white-bis, 0.95) !default;
$floating-button-top: 50px;
$floating-button-bottom: 50px;
$floating-button-right: 50px;
$floating-button-left: 50px;

/* Inputs */
$input-color: rgba($dark, 0.9) !default;
$input-background-color: rgba($white, 1) !default;
$input-border-color: rgba($dark, 0.3) !default;
$input-bottom-border-color: rgba($primary, 0.9) !default;
$input-hover-color: $opaque !default;
$input-hover-border-color: $input-border-color !default;
$input-focus-color: $opaque !default;
$input-focus-border-color: $input-border-color !default;
$input-icon-color: rgba($primary, 0.4) !default;
$input-icon-active-color: rgba($primary, 0.9) !default;
$label-color: $dark !default;
$label-weight: lighten !default;
$input-radius: 3px !default;
$input-shadow: none !default;
$input-focus-box-shadow-size: 0 0 0.125em !default;
$input-focus-box-shadow-color: rgba($dark, 0.25) !default;

/* CheckRadio */
$checkbox-radius: $radius !default;
$checkbox-border: 0.1rem solid $grey-lighter !default;
$checkbox-block-background: $white-ter !default;
$checkradio-focus: none !default;
$checkradio-top-offset: 0rem !default;

/* Switch */
$switch-background: $grey-light !default;
$switch-border: 0.1rem solid transparent !default;
$switch-background-active: $primary !default;
$switch-radius: $radius !default;
$switch-paddle-background: $white !default;
$switch-paddle-background-active: $primary !default;
$switch-paddle-offset: 0.25rem !default;
$switch-paddle-transition: all 0.25s ease-out !default;
$switch-focus: 1px dotted $grey-light !default;

/* Help Messages */
$help-arrow-color: rgba($danger, 0.4) !default;
$help-background-color: rgba($white-bis, 0.7) !default;
$help-border-color: rgba($danger, 0.5) !default;
$help-color: $danger !default;

/* Paginator */
$pagination-color: rgba($dark, 0.7) !default;
$pagination-background-color: rgba($dark, 0.05) !default;
$pagination-current-color: rgba($dark, 0.5) !default;
$pagination-current-background-color: rgba($dark, 0.05) !default;
$pagination-current-border-color: rgba($dark, 0.3) !default;
$pagination-size-label-color: rgba($dark, 0.8) !default;
$pagination-size-select-border-color: rgba($dark, 0.3) !default;
$pagination-count-label-color: rgba($dark, 0.8) !default;

/* Tables */
$table-color: rgba($dark, 0.7) !default;
$table-cell-border-color: rgba($dark, 0.2) !default;
$table-cell-border: 1px solid $table-cell-border-color !default;
$table-cell-border-width: 0 0 1px !default;
$table-cell-padding: 0.5em 0.75em !default;
$table-cell-heading-color: $dark !default;
$table-head-cell-border-width: 0 0 2px !default;
$table-head-cell-border-color: rgba($dark, 0.3) !default;
$table-head-cell-color: $dark !default;
$table-foot-cell-border-width: 2px 0 0 !default;
$table-foot-cell-color: $dark !default;
$table-head-background-color: rgba($dark, 0.05) !default;
$table-body-background-color: rgba($dark, 0.01) !default;
$table-foot-background-color: transparent !default;
$table-row-hover-background-color: rgba($dark, 0.1) !default;
$table-row-active-background-color: $dark !default;
$table-row-active-color: $primary-invert !default;
$table-striped-row-even-background-color: rgba($dark, 0.05) !default;
$table-striped-row-even-hover-background-color: rgba($dark, 0.1) !default;
$table-search-border-color: rgba($dark, 0.9) !default;

/* List */
$list-background-color: $white !default;
$list-bottom-border-color: rgba($dark, 0.1) !default;
$list-bottom-border: 1px solid $list-bottom-border-color !default;
$list-item-bottom-border: none !default;

/* Panel */
$panel-bottom-margin: $separation-margin !default;
$panel-background-color: rgba($white-bis, 0.2) !default;
$panel-border-color: $primary !default;
$panel-border-top-left-radius: 3px !default;
$panel-border-top-right-radius: 3px !default;

/* Tabs */
$tabs-head-border-bottom-color: $primary !default;
$tabs-body-border-color: $primary !default;
$tabs-body-shadow-color: $opaque !default;

/* Card */
$notification-background-color: $white !default;

/* Tooltip */
$tooltip-color: $white-bis !default;
$tooltip-background-color: $dark !default;
$tooltip-max-width: 24rem !default;

/* Box */
$box-background-color: $white-bis;
$box-border-radius: 2px;
$box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !default;

/* Modal */
$modal-z: 60 !default;
