/* Common */
$base-shadow: 0 0 0.125em !default;
$base-shadow-color: $dark !default;
$base-shadow-alpha: 0.3 !default;
$separation-margin: 1.5rem !default;
$content-padding: 1.5rem !default;

/* Card */
$card-background-color: $white !default;
$card-color: $dark !default;
$card-head-color: $dark !default;
$card-font-size: 1.4rem !default;
$card-shadow-color: rgba(0, 0, 0, 0.05) !default;
$card-shadow: 0 4px 15px $card-shadow-color !default;

/* Navbar */
$navbar-item-img-max-height: 100%;

/* Buttons */
$bt-size-1: 3rem !default;
$bt-size-2: 2.5rem !default;
$bt-size-3: 2rem !default;
$bt-size-4: 1.5rem !default;
$bt-size-5: 1.25rem !default;
$bt-size-6: 1rem !default;
$bt-size-7: 0.7rem !default;

$bt-size-small: $bt-size-7 !default;
$bt-size-normal: 0.85rem !default;
$bt-size-medium: $bt-size-5 !default;
$bt-size-large: $bt-size-4 !default;

$bt-radius-small: 2px !default;
$bt-radius-normal: 3px !default;
$bt-radius-medium: 4px !default;
$bt-radius-large: 6px !default;

$btn-margin: 8px;
$btn-margin-compact: 4px;

/* Floating Buttons */
$floating-button-color: $primary-invert !default;
$floating-button-background-color: rgba($primary, 0.9) !default;
$floating-button-shadow-color: rgba(0, 0, 0, 0.2) !default;
$floating-button-option-color: $primary-invert !default;
$floating-button-option-label-color: $primary !default;
$floating-button-option-label-bg-color: rgba($white-bis, 0.95) !default;
$floating-button-top: 50px;
$floating-button-bottom: 50px;
$floating-button-right: 50px;
$floating-button-left: 50px;

/* Icons */
$icon-size: 1.5rem !default;
$icon-size-small: 1rem !default;
$icon-size-medium: 2rem !default;
$icon-size-large: 3rem !default;

/* Inputs */
$input-color: rgba($dark, 0.9) !default;
$input-background-color: rgba($white, 1) !default;
$input-border-color: rgba($dark, 0.3) !default;
$input-bottom-border-color: rgba($primary, 0.9) !default;
$input-hover-color: $opaque !default;
$input-hover-border-color: $input-border-color !default;
$input-focus-color: $opaque !default;
$input-focus-border-color: $input-border-color !default;
$input-icon-color: rgba($primary, 0.4) !default;
$input-icon-active-color: rgba($primary, 0.9) !default;
$label-color: $dark !default;
$label-weight: lighten !default;
$input-radius: 3px !default;
$input-shadow: none !default;
$input-focus-box-shadow-size: 0 0 0.125em !default;
$input-focus-box-shadow-color: rgba($dark, 0.25) !default;

/* CheckRadio */
$checkbox-radius: $radius !default;
$checkbox-border: 0.1rem solid $grey-lighter !default;
$checkbox-block-background: $white-ter !default;
$checkradio-focus: none !default;
$checkradio-top-offset: 0rem !default;

/* Switch */
$switch-background: $grey-light !default;
$switch-border: 0.1rem solid transparent !default;
$switch-background-active: $primary !default;
$switch-radius: $radius !default;
$switch-paddle-background: $white !default;
$switch-paddle-background-active: $primary !default;
$switch-paddle-offset: 0.25rem !default;
$switch-paddle-transition: all 0.25s ease-out !default;
$switch-focus: 1px dotted $grey-light !default;

/* Help Messages */
$help-arrow-color: rgba($danger, 0.4) !default;
$help-background-color: rgba($white-bis, 0.7) !default;
$help-border-color: rgba($danger, 0.5) !default;
$help-color: $danger !default;

/* Panel */
$panel-bottom-margin: $separation-margin !default;
$panel-background-color: rgba($white-bis, 0.2) !default;
$panel-border-color: $primary !default;
$panel-border-top-left-radius: 3px !default;
$panel-border-top-right-radius: 3px !default;

/* Tabs */
$tabs-head-border-bottom-color: $primary !default;
$tabs-body-border-color: $primary !default;
$tabs-body-shadow-color: $opaque !default;
$tabs-delimiter-line-height: 5px;
$tabs-label-height :3em;
$tabs-bottom-margin: $separation-margin !default;

/* Card */
$notification-background-color: $white !default;
$card-background-color: $white-bis !default;
$card-border-radius: 6px !default;
$card-min-width: 270px !default;

/* Tooltip */
$tooltip-color: $white-bis !default;
$tooltip-background-color: $dark !default;
$tooltip-max-width: 24rem !default;

/* Box */
$box-background-color: $white-bis;
$box-border-radius: 2px;
$box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !default;

/* Section */
$section-padding: 3rem 1.5rem !default
$section-padding-medium: 9rem 1.5rem !default
$section-padding-large: 18rem 1.5rem !default

/* Hero */
$hero-title-font-size: 2.5rem;
$hero-desc-font-size: 1.125rem;
$hero-padding: 48px 0;
$hero-padding-medium: 96px 0;
$hero-padding-large: 192px 0;
$hero-body-max-width: 580px;
$hero-content-padding: 1rem 1.2rem;
$hero-content-padding-img: 2rem 3.2rem;
$hero-content-padding-medium: 12px 48px;
$hero-content-padding-big: 24px 96px;
