.t-accordion {
  margin: 0;

  .t-accordion-item {
    margin: 0 auto 1px auto;

    .t-accordion-header {
      padding: 0.5em;
      border-radius: 0;
      cursor: pointer;
    }

    &:first-child {
      .t-accordion-header {
        border-radius: 4px 4px 0 0;
      }
    }

    .t-accordion-body {
      padding: 0;
      box-shadow: 0 0px 1px 0px rgba(0, 0, 0, 0.1),
        0 1px 1px 0px rgba(0, 0, 0, 0.14), 0 3px 3px 0 rgba(0, 0, 0, 0.12);

      .t-accordion-content {
        padding: 0;

        .t-accordion-content-body {
          padding: 1em;
        }
      }
    }
  }
}
