.card {
  --bg-alpha: 0.7;
  overflow-y: visible;
  margin: 0.5em 0 0 0;
  border-radius: 6px;

  &.add-margin {
    margin: 0.5em;
  }

  .card-title {
    font-weight: bold;
    font-size: $card-font-size;
  }
}
