.control
  .input, .select, .textarea
    -webkit-transition: all ease-in 0.3s
    transition: all ease-in 0.3s
    &[disabled]
      border: 1px solid $input-border-color
      @include material-shadow(rgba($input-border-color, 0.1))
      &:hover
        @include material-shadow(rgba($input-border-color, 0.2))
.is-block
  .control
    display: block
.t-autocomplete
  position: relative
  max-width: 400px
  .t-autocomplete-results
    border: 1px solid
    overflow-y: auto
    z-index: 50
    border-radius: 0 0 .3rem .3rem
    @include margin-padding(0, 0.3em)
    @include material-shadow($dark)
    .t-autocomplete-result
      list-style: none
      text-align: left
      padding: 2px 0.5rem
      cursor: pointer
.t-text
  .t-text-label
    margin-right: 0.5rem
.t-file-preview
  border: 1px solid $file-border-color
  background: $file-cta-background-color
  border-radius: 6px
  @include margin-padding(0.2em 0 0 0, 0.5em)
  @include material-shadow($dark)

