*
  &.is-fullwidth
    width: 100%
  &.is-fullheight
    height: 100%
  &.is-absolute
    position: absolute
  &.is-fixed
    position: fixed
  &.is-overflow-auto
    overflow: auto
  &.cursor-pointer
    cursor: pointer

