.t-thumbnails
  width: 100%
  margin: 0 auto
  padding: 0
  -ms-flex-wrap: wrap
  -ms-flex-direction: column
  -webkit-flex-flow: row wrap
  flex-flow: row wrap
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  .t-thumbnail
    -webkit-box-flex: auto
    -ms-flex: auto
    flex: border-box
    width: 192px
    height: 192px
    padding: 0.2rem
    border: 3px solid rgba($dark, 0.8)
    border-radius: 2px
    margin: 0.2rem
    font-size: 0.85rem
    font-weight: bold
    color: rgba($dark, 0.7) !important
    cursor: pointer
    transition: all ease-in 0.5s
    position: relative
    @include material-shadow($dark)
    &:hover
      @include material-shadow($dark)
    a
      height: 100%
      width: 100%
      display: block
      position: relative
      transition: all ease-in 0.3s
      &:hover
        border-radius: 5px
        height: 98%
        width: 98%
        margin: 1%
        background-color: rgba($dark, 0.2)
      &:hover > h1
        color: rgba($white-bis, 0.9)
        background-color: rgba($dark, 0.5)
    img
      height: 100%
      width: 100%
    h1
      height: auto
      position: absolute
      text-align: center
      padding: 0.2rem
      bottom: 0
      font-size: 0.85rem !important
      background-color: rgba($white-bis, 0.9)
      color: rgba($dark, 0.8)
      -webkit-transition: all ease-in 0.3s
      transition: all ease-in 0.3s
      width: 100%
      text-overflow: ellipsis
      /* Required for text-overflow to do anything */
      white-space: nowrap
      overflow: hidden
