.t-toolbar
  position: relative
  font-size: 1rem
  padding: 0.5em
  height: 100%
  width: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
.t-crud-toolbar
  display: flex
  align-items: center
  .toolbar-button
    margin-right: 0.1rem
    @each $name, $pair in $colors
      $color: nth($pair, 1)
      $color-invert: nth($pair, 2)
      &.is-#{$name}
        .icon
          color: $color
          .tooltip
            &::before
              background: rgba($color, 0.9)
              color: $color-invert
            &:not(.is-loading)
              &::after
                border-color: rgba($color, 0.9) transparent transparent transparent

