$input-color: rgba($dark, 0.9) !default;
$input-background-color: rgba($white, 1) !default;
$input-border-color: rgba($dark, 0.3) !default;
$input-bottom-border-color: rgba($primary, 0.9) !default;
$input-hover-color: $opaque !default;
$input-hover-border-color: $input-border-color !default;
$input-focus-color: $opaque !default;
$input-focus-border-color: $input-border-color !default;
$input-icon-color: rgba($primary, 0.4) !default;
$input-icon-active-color: rgba($primary, 0.9) !default;
$input-padding: 0.3rem;
$input-font-size: 1rem;

$input-radius: 3px !default;
$input-shadow: none !default;
$input-focus-box-shadow-size: 0 0 0.125em !default;
$input-focus-box-shadow-color: rgba($dark, 0.25) !default;

$label-weight: normal !default;
$label-color: tint($dark, 50%) !default;
$label-transition-delay: 300ms;
$label-font-size: 1rem;

.group {
  position: relative;

  &__wrapper {
    padding: 0.2rem;
    display: flex;
    align-items: center;
    height: inherit;
    .label {
      font-size: $label-font-size;
      position: relative;
      text-transform: uppercase;
    }

    &.bordered {
      border: 1px solid tint($primary, 25%);
      &.focused {
        border: 1px solid $primary;
      }
    }

    &.transparent {
      background: transparent;
    }
  }
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

@mixin label-on-top {
  top: -1.8em;
  font-size: $label-font-size;
  left: 0;
}

// INPUTS // ============================== //
.control {
  background: transparent;
  border-radius: 3px;
  padding: 2px;
  position: relative;
  display: block;
  flex: 1;

  &.compact {
    padding: 0;
  }

  .t-input,
  .t-textarea {
    background: none;
    color: tint($dark, 15%);
    font-size: $input-font-size;
    padding: $input-padding;
    display: block;
    border: none;
    border-radius: 0;
    width: 100%;

    &.compact {
      padding: 2px;
    }
    &::placeholder {
      opacity: 0;
      color: tint($dark, 45%);
    }
    &:focus {
      outline: none;
    }

    &:not(.select):focus ~ .label {
      @include label-on-top;

      &.input-icon-left {
        left: -24px;
      }
    }

    &.classic::placeholder {
      opacity: 1;
    }

    &.small {
      flex: unset;
    }
  }

  .t-textarea {
    resize: none;
  }

  .t-select {
    cursor: pointer;
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .label {
    color: $label-color;
    font-size: $label-font-size;
    font-weight: $label-weight;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 25%;
    transition: $label-transition-delay ease all;
    &.is-textarea {
      top: 0.5em;
    }
    &.has-value,
    &.box-opened {
      @include label-on-top;
    }
  }

  .t-icon {
    padding-left: 0.5em;
    padding-right: 0.5em;
    &.is-textarea {
      padding-top: 1em;
    }
  }
}
