$hero-title-font-size: 2.5rem;
$hero-title-margin-bottom: 1rem;
$hero-subtitle-font-size: 1.5rem;
$hero-subtitle-margin-bottom: $hero-title-margin-bottom;
$hero-desc-font-size: 1.125rem;
$hero-padding: 0.5rem 0;
$hero-padding-normal: 3rem 0;
$hero-padding-medium: 6rem 0;
$hero-padding-large: 12rem 0;
$hero-body-max-width: 580px;
$hero-content-padding: 1rem 1.2rem;
$hero-content-padding-img: 2rem 3.2rem;
$hero-content-padding-medium: 0.75rem 3rem;
$hero-content-padding-big: 1.5rem 2rem;

.t-hero {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap-reverse;
  background: $white-bis;
  color: $black-bis;
  padding: $hero-padding;

  @include tablet-up {
    padding: $hero-padding-normal;

    &.medium {
      padding: $hero-padding-medium;
    }

    &.large {
      padding: $hero-padding-large;
    }

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  &.is-fullheight {
    align-items: flex-end;
    height: -webkit-fill-available;
    @include tablet-up {
      align-items: center;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    padding: $hero-content-padding;
    z-index: 1;

    @include desktop-up {
      padding: $hero-content-padding-medium;
      align-items: center;
    }

    @include big-desktop-up {
      padding: $hero-content-padding-big;
    }

    &.has-img {
      position: absolute;
      width: 100%;
      height: auto;
      z-index: 0;
      padding: $hero-content-padding;

      @include tablet-portrait-up {
        height: 100%;
      }

      @include tablet-up {
        position: relative;
        width: unset;
        height: unset;
        z-index: unset;
      }

      @include desktop-up {
        padding: $hero-content-padding-medium;
        align-items: center;
      }

      @include big-desktop-up {
        padding: $hero-content-padding-big;
      }
    }
  }

  &__body {
    font-size: 1rem;
    line-height: 1.5;
    max-width: $hero-body-max-width;
    margin-top: 5rem;

    @include tablet-up {
      margin-top: 0;
    }
  }

  &__title {
    font-size: $hero-title-font-size;
    line-height: 1;
    margin-bottom: $hero-title-margin-bottom;
    text-align: center;

    @include tablet-up {
      font-size: 3rem;
      line-height: 1.1;
    }

    &.has-img {
      @include tablet-up {
        text-align: left;
      }
    }
  }

  &__subtitle {
    font-size: $hero-subtitle-font-size;
    line-height: 1;
    margin-bottom: $hero-subtitle-margin-bottom;
    text-align: center;

    @include tablet-up {
      font-size: 2rem;
      line-height: 1.1;
    }

    &.has-img {
      @include tablet-up {
        text-align: left;
      }
    }
  }
  &__desc {
    font-size: $hero-desc-font-size;
    margin-bottom: 48px;
    text-align: center;
    &.has-img {
      @include tablet-up {
        text-align: left;
      }
    }
  }
  &__action {
    margin: 0 0 1.25em;
    text-align: center;
    &.has-img {
      @include tablet-up {
        text-align: left;
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    opacity: 0.2;
    @include transform(scale(0.5));

    @include tablet-up {
      @include transform(unset);
      opacity: 1;
      height: auto;
    }

    &--slot {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      @include transform(scale(0.7));

      @include tablet-portrait-up {
        @include transform(unset);
      }

      @include tablet-up {
        opacity: 1;
        height: auto;
      }
    }
  }
}
