.t-layout {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: var(--overflow-y);
  height: 100%;
  width: 100%;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.row {
    flex-direction: row;
  }

  &.has-min-height {
    .t-layout {
      min-height: unset;
      height: -webkit-fill-available;
    }
  }

  .t-content {
    overflow-y: var(--overflow-y);
    margin: 0;
    background: $white-bis;
    border-radius: 0;
    flex-grow: 1;
    position: relative;
  }

  .t-aside {
    height: 100%;
    min-height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease-in;

    &.is-absolute {
      position: absolute;
    }
  }

  .t-header,
  .t-footer {
    width: 100%;
    padding: 0;
    background-blend-mode: screen;
    z-index: 40;

    &.is-fixed {
      position: fixed;
    }
  }
}
