$primary: #2ec4b6 !default;
$secondary: #41d3bd !default;
$danger: #ec6a5c !default;
$moderate: #fdc23e !default;
$info: #6aafe6 !default;
$warning: #feee7d !default;
$link: #2b90d9 !default;
$success: #8cd790 !default;
$happy: #60c5ba !default;
$light: #f4f5f9 !default;
$opaque: #d9e1e8 !default;
$dark: #404146 !default;
@import "../colors_invert";
