@import "~bulma/sass/utilities/derived-variables";

$secondary: #5dd9dd !default;
$secondary-invert: findColorInvert($secondary) !default;
$moderate: #fa9137 !default;
$moderate-invert: findColorInvert($moderate) !default;
$happy: #3a8c7b !default;
$happy-invert: findColorInvert($happy) !default;
$opaque: #96b0b7 !default;
$opaque-invert: findColorInvert($light) !default;
