/* Buttons */
$bt-size-small: 0.75rem !default;
$bt-size-normal: 0.875rem !default;
$bt-size-large: 1rem !default;

$bt-radius-small: 2px !default;
$bt-radius-normal: 3px !default;
$bt-radius-medium: 4px !default;
$bt-radius-large: 4px !default;

$btn-margin: 0.25rem;
$btn-padding: 0.7rem;
$btn-padding-small: 0.55rem;
$btn-padding-medium: 0.875rem;
$btn-padding-large: 1rem;
$btn-padding-compact: 0.5em;
$btn-icon-margin: 0.3rem;
$btn-letter-spacing: 0.089777em;

@mixin btn-sizes {
  &.small {
    border-radius: $bt-radius-small;
    font-size: $bt-size-small;
    padding: $btn-padding-small;
  }

  &.medium {
    border-radius: $bt-radius-medium;
    font-size: $bt-size-normal;
    padding: $btn-padding-medium;
  }

  &.large {
    border-radius: $bt-radius-large;
    font-size: $bt-size-large;
    padding: $btn-padding-large;
  }
}

.t-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $btn-padding;
  border-radius: $bt-radius-normal;
  margin: $btn-margin;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 800;
  font-size: $bt-size-normal;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: $btn-letter-spacing;
  text-indent: $btn-letter-spacing;
  line-height: calc(1ex / 0.32);
  position: relative;
  white-space: nowrap;
  @include btn-sizes;

  &.inset {
    @include btn-shadow;
  }

  &__content {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1 0 auto;
    padding: 0;
    margin: 0;
    line-height: normal;
    &.icon-left {
      margin-left: $btn-icon-margin;
      margin-right: 0;
    }
    &.icon-right {
      margin-left: 0;
      margin-right: $btn-icon-margin;
    }
  }

  & > .t-icon {
    width: auto;
    height: auto;
  }

  &.compact {
    padding: $btn-padding-compact;

    &.icon-left {
      & > .t-icon {
        margin-left: 0;
        margin-right: $btn-icon-margin;
      }
    }

    &.icon-right {
      & > .t-icon {
        margin-left: $btn-icon-margin;
        margin-right: 0;
      }
    }
  }

  &.rounded {
    border-radius: 50em;
  }

  &.outlined {
    border: 0.1em solid;
  }

  &.flat {
    @include btn-flat-shadow;
    border-radius: 0;
  }

  &.raised {
    @include material-shadow(rgba(0, 0, 0, 0.1));
    border-radius: 0;
  }

  &.is-text {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &.is-loading {
    color: transparent !important;
    pointer-events: none;
    &::after {
      @include center(3em);
      @extend .echo-loader;
    }
  }

  &:active {
    top: 0.1em;
  }
}

/* Floating Buttons */
$floating-button-color: $primary-invert !default;
$floating-button-background-color: rgba($primary, 0.9) !default;
$floating-button-shadow-color: rgba(0, 0, 0, 0.2) !default;
$floating-button-option-color: $primary-invert !default;
$floating-button-option-label-color: $primary !default;
$floating-button-option-label-bg-color: rgba($white-bis, 0.95) !default;
$floating-button-top: 50px;
$floating-button-bottom: 50px;
$floating-button-right: 50px;
$floating-button-left: 50px;

.t-floating-button {
  position: fixed;
  z-index: 100;
  cursor: pointer;

  &__icon {
    --bg-alpha: 0.95;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: $floating-button-background-color;
    box-shadow: 0 6px 20px $floating-button-shadow-color;

    &:hover {
      opacity: 0.9;

      & + .t-floating-button__options,
      .t-floating-button__options:hover {
        opacity: 1;
        transform: scale(1);
      }
    }

    .t-floating-button__label {
      font-style: normal;
      font-size: 25px;
      color: $floating-button-color;
    }

    .t-icon {
      font-style: normal;
      font-size: 25px;
      color: $floating-button-color;
    }
  }

  &__options {
    list-style: none;
    margin: 0;
    position: absolute;
    bottom: 70px;
    right: 0;
    opacity: 0;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: 85% bottom;
    z-index: 3000;

    li {
      display: flex;
      justify-content: flex-end;
      padding: 5px;

      .t-floating-button__option {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: $floating-button-background-color;
        box-shadow: 0 6px 20px $floating-button-shadow-color;

        .t-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          font-style: normal;
          font-size: 25px;
          color: $floating-button-option-color;
        }
      }
    }

    &__label {
      padding: 3px 5px;
      align-self: center;
      user-select: none;
      white-space: nowrap;
      border-radius: 3px;
      font-size: 14px;
      font-weight: bold;
      background: $floating-button-option-label-bg-color;
      color: $floating-button-option-label-color;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
      margin-right: 10px;
    }
  }

  &.is-top {
    top: $floating-button-top;
  }

  &.is-bottom {
    bottom: $floating-button-bottom;
  }

  &.is-right {
    right: $floating-button-right;
  }

  &.is-left {
    left: $floating-button-left;
  }
}

.t-buttons {
  &.attached {
    .t-button-container {
      &:not(:first-child) {
        .button {
          margin-left: 0;
          margin-right: 0;
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 0;
        }
      }
      &:first-child {
        .button {
          margin-right: 0;
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      &:last-child {
        .button {
          margin-right: $btn-margin;
          border-right: none;
          border-radius: $bt-radius-normal;
          @include btn-sizes;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}

.t-delete {
  @include delete-btn;
}
