$breadcrumb-separator-before-border-color: #d5d5d5;
$breadcrumb-separator-after-border-color: $light;
$breadcrumb-bg-color: $light;
$breadcrumb-border-color: $primary;
$breadcrumb-hover-bg-color: tint($opaque, 30%);
$breadcrumb-item-active-color: $dark;
$breadcrumb-item-active-bg-color: #fafafa;

.t-breadcrumb {
  border: 1px solid $breadcrumb-border-color;
  background-color: $breadcrumb-bg-color;

  &__content {
    display: flex;
    margin: 0 auto;

    &.is-centered {
      justify-content: center;
    }

    &.is-right {
      justify-content: flex-end;
    }
  }

  &__items {
    padding: 0;
    margin: 0;
    display: flex;
  }

  ul {
    list-style: none;
  }
  li {
    &:last-child a:before,
    &:last-child a:after {
      display: none;
    }

    &:last-child a {
      padding-right: 20px;
    }
  }
  &__item {
    position: relative;
    display: flex;
    padding: 10px;
    padding-right: 0;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #aaa;
    cursor: pointer;
    align-items: center;

    @include tablet-portrait-up {
      padding: 20px;
      padding-right: 0;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 1;
      display: block;
      width: 0;
      height: 100%;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
      border-left: 10px solid transparent;

      @include tablet-portrait-up {
        border-top: 32px solid transparent;
        border-bottom: 32px solid transparent;
        border-left: 16px solid transparent;
      }
    }

    &:before {
      margin-left: 1px;
      border-left-color: $breadcrumb-separator-before-border-color;
    }

    &:after {
      border-left-color: $breadcrumb-separator-after-border-color;
    }

    &:hover {
      background: $breadcrumb-hover-bg-color;
      &:after {
        border-left-color: $breadcrumb-hover-bg-color;
      }
    }

    &.is-active {
      color: $breadcrumb-item-active-color;
      background-color: $breadcrumb-item-active-bg-color;
      &:after {
        border-left-color: $breadcrumb-item-active-bg-color;
      }
    }
  }

  &__number {
    display: flex;
    align-items: center;
    padding: 3px 8px 3px 8px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    font-size: 11px;

    @include tablet-portrait-up {
      font-size: 12px;
    }
  }

  &__name {
    display: flex;
  }
}
