$nav-drawer-background-color: rgba($primary, 0.03) !default;
$nav-drawer-item-color: rgba($dark, 0.9) !default;
$nav-drawer-active-color: $link !default;
$nav-drawer-active-background-color: rgba($primary, 0.4) !default;
$nav-drawer-hover-background-color: rgba($primary, 0.4) !default;
$nav-drawer-icon-color: rgba($primary, 0.9) !default;
$nav-drawer-label-color: $primary_invert !default;
$nav-drawer-label-background-color: $primary !default;
$nav-drawer-label-border-radius: 6px !default;
$nav-drawer-label-shadow-color: rgba(0, 0, 0, 0.05) !default;
$nav-drawer-label-shadow: 0 4px 15px rgba(0, 0, 0, 0.05) !default;
$nav-drawer-label-font-size: .75em !default;
$nav-drawer-label-letter-spacing: .1em !default;
$nav-drawer-label-text-align: center !default;
$nav-drawer-label-text-transform: uppercase !default;
$nav-drawer-font-size: 1rem !default;
$nav-drawer-font-weight: normal !default;
$nav-drawer-border-left: 1px solid tint($opaque, 20%) !default;
$nav-drawer-padding-left: 0.75rem !default;

.t-nav-drawer {
  --bg-alpha: 0.03;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $nav-drawer-background-color;
  border-top-right-radius: 6px;
  transition: all 0.5s ease-in;
  border-right: 1px solid rgba(0, 0, 0, 0.1);

  @include margin-padding(0.5em 0 0 0, 0);

  .menu {
    font-size: 1rem;
    padding: 1em 2em 1em 1em;

    .menu-list {
      line-height: 1.25;
      a {
        --bg-alpha: 0.7;
        padding: 0.4em 0.4em 0.2em 1em;
        font-size: $nav-drawer-font-size;
        font-weight: $nav-drawer-font-weight;
        color: $nav-drawer-item-color;

        &.router-link-active {
          color: $nav-drawer-active-color;
        }

        &.is-active {
          background-color: $nav-drawer-active-background-color;
        }

        &:hover {
          --bg-hover-alpha: 0.7;
          background-color: $nav-drawer-hover-background-color;
        }
      }

      li {
        padding-top: 7px;
        padding-bottom: 1px;
        list-style: none;

        ul {
          margin: 0;
          border-left: $nav-drawer-border-left;
          padding-left: $nav-drawer-padding-left;
        }

        .icon {
          color: $nav-drawer-icon-color;
        }
      }

      li + li {
        margin-top: 0;
      }
    }

    .menu-label {
      background: $nav-drawer-label-background-color;
      color: $nav-drawer-label-color;
      text-align: $nav-drawer-label-text-align;
      border-radius: $nav-drawer-label-border-radius;
      -webkit-box-shadow: $nav-drawer-label-shadow;
      box-shadow: $nav-drawer-label-shadow;
      font-size: $nav-drawer-label-font-size;
      letter-spacing: $nav-drawer-label-letter-spacing;
      text-transform: $nav-drawer-label-text-transform;

      @include margin-padding(1rem 0rem, 0.5rem);
    }

    .icon {
      --color-alpha: 0.9;
    }
  }
}

.dropdown-menu {
  z-index: 100;
}
