$list-padding: $box-content-padding !default;
$list-background-color: $white !default;
$list-bottom-border-color: rgba($dark, 0.1) !default;
$list-bottom-border: 1px solid $list-bottom-border-color !default;
$list-item-bottom-border: none !default;
$list-item-title-font-size: 1rem !default;
$list-item-subtitle-font-size: calc(
  #{$list-item-title-font-size} * 0.87
) !default;
$list-item-subtitle-color: $grey-light !default;
$list-item-subtitle-padding: 0.3rem !default;
$list-item-title-font-weight: 700 !default;
$list-border-radius: 4px !default;
$list-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !default;
$list-check-column-padding: 0.7rem !default;
$items-width: 20 30 40 50 60 70 80 90 100;

@mixin list-bar() {
  display: flex;
  color: $dark;
  padding: $list-padding;
  min-width: 10%;
  border-bottom: $list-bottom-border;
}

.t-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  @include overflow($y: auto);

  &__container {
    @include border-radius($list-border-radius);
    @include box-shadow-full($list-shadow);
  }

  &__heading {
    flex-direction: column;
    @include list-bar;

    &--horizontal {
      @extend .t-flex;
      --flex-direction: row;
      --flex: 1;
      --justify-content: center;

      @include tablet-up {
        --justify-content: space-between;
        &.not-header {
          --justify-content: flex-end;
        }
      }
    }
  }

  &__footer {
    @include list-bar;
    border-top: $list-bottom-border;
  }

  &__content {
  }

  &__item {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    border-bottom: $list-bottom-border;

    &:last-child {
      border-bottom: none;
    }

    &-container {
      display: flex;
      @include margin-padding($padding: $list-padding);
    }

    &--vertical {
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    &-heading {
      display: flex;
      flex: 1;
      flex-direction: row;

      &--slot {
        flex: 1;
      }
    }

    &-title {
      font-size: $list-item-title-font-size;
      font-weight: $list-item-title-font-weight;
    }

    &-subtitle {
      font-size: $list-item-subtitle-font-size;
      color: $list-item-subtitle-color;
      padding-bottom: $list-item-subtitle-padding;
    }

    &-body {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }

  &__avatar {
    flex-basis: 40px;
    margin-right: $list-padding;
  }

  &__head {
    flex: 1;
    padding: 0.5rem;
  }

  &__body {
    flex: 1;
    padding: 0.5rem;
  }

  &__actions {
    display: flex;
    flex-basis: 100px;
    flex-wrap: wrap;
    margin-left: $list-padding;
    justify-content: center;
    align-items: center;
  }
  .table__column {
    &--checkable {
      padding-right: $list-check-column-padding;
    }
  }
}

.t-search {
  position: relative;
  margin: 0 0.5em 0 0.5em;

  .input {
    border: 2px solid rgba($pagination-search-border-color, 0.5);
    font-size: 0.95rem;

    &:hover {
      border-color: rgba($pagination-search-border-color, 0.7);
    }
  }

  &.is-absolute {
    top: 6px;
    margin: 0;
    position: relative;
    width: 100%;

    .input {
      font-size: 0.9rem;
    }

    @include tablet-portrait-up {
      width: 12rem;
      position: absolute;
      margin: 0 0.5em 0 0.5em;
    }

    @include tablet-landscape-up {
      width: unset;
    }
  }
}
