/* Tables */
$table-color: rgba($dark, 0.7) !default;
$table-padding: $box-content-padding !default;
$table-cell-border-color: rgba($dark, 0.2) !default;
$table-cell-padding: 15px !default;
$table-bottom-border-color: rgba($dark, 0.1) !default;
$table-bottom-border: 1px solid $table-bottom-border-color !default;
$table-head-cell-border-color: rgba($dark, 0.3) !default;
$table-head-cell-color: $dark !default;
$table-font-size: 1rem !default;
$table-border-radius: 4px !default;
$table-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !default;

@mixin table-bar() {
  display: flex;
  color: $dark;
  padding: $table-padding;
  min-width: 10%;
  border-bottom: $table-bottom-border;
  @include box-shadow-full($table-shadow);
}

.table {
  font-size: $table-font-size;
  width: 100%;
  min-width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  &.fit-content {
    width: auto;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    width: max-content;
  }

  &__heading {
    flex-direction: column;
    @include table-bar;
    @include border-radius-specific($table-border-radius, $table-border-radius, 0, 0);

    &--horizontal {
      @extend .t-flex;
      --flex-direction: row;
      --flex: 1;
      --justify-content: center;

      @include tablet-up {
        --justify-content: space-between;
        &.not-header{
          --justify-content: flex-end;
        }
      }
    }
  }

  &__footer {
    @include table-bar;
    @include border-radius-specific(0, 0, $table-border-radius, $table-border-radius);
  }

  td,
  th {
    border-color: $table-cell-border-color;
    padding: $table-cell-padding;
    text-align: center;
  }

  thead {
    tr {
      @include border-radius-specific($table-border-radius, $table-border-radius, 0, 0);
    }
    th {
      border-bottom-color: $table-head-cell-border-color;

      .sort-icon {
        color: rgba($table-head-cell-color, 0.8);
        cursor: pointer;
      }
    }
  }

  tbody {
    tr {
      --bg-hover-alpha: 0.5;
      height: fit-content;

      &:hover {
        cursor: pointer;
      }
    }

    td {
      position: relative;
      font-weight: 400;
    }

    th {
      .active {
        .arrow {
          opacity: 1;
        }
      }
    }
  }

  &.is-bordered {
    tbody {
      td {
        border: 1px solid tint($dark, 70%);
      }
    }
  }

  &__wrapper {
    width: 100%;
    overflow-x: auto;
    padding: 0;
    border-radius: $table-border-radius;
    @include box-shadow-full($table-shadow);

    &.has-header{
      &:not(.has-footer){
        @include border-radius-specific(0, 0, $table-border-radius, $table-border-radius);
        thead {
          tr {
            @include border-radius-specific(0, 0, $table-border-radius, $table-border-radius);
          }
        }
      }
      &.has-footer{
        @include border-radius-specific(0, 0, 0, 0);
        thead {
          tr {
            @include border-radius-specific(0, 0, 0, 0);
          }
        }
      }
    }

    &.has-footer{
      &:not(.has-header){
        @include border-radius-specific($table-border-radius, $table-border-radius, 0, 0);
        thead {
          tr {
            @include border-radius-specific($table-border-radius, $table-border-radius, 0, 0);
          }
        }
      }
    }

  }

  &__row {
    &--checker {
      .is-checkradio[type="checkbox"] + label {
        &::before {
          color: $table-cell-border-color;
          border: 2px solid $table-cell-border-color;
          outline: none;
        }
      }
    }
  }

  &__cell {
    vertical-align: middle;
    height: 100%;
    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }

  &__column {
    &--expandable {
      width: 30px;
    }
    &--checkable {
      width: 40px;
    }
  }

  &__functions {
    min-width: 40px;
    max-width: 100px;
  }

  .expandable {
    &__row {
      padding: 0;
    }

    &__col {
      padding: 0;
      border-bottom: none;
      width: 1px;
    }

    &__container {
      border-bottom: 1px solid rgba($table-cell-border-color, 0.1);
    }

    &__content {
      padding: 0.5rem;
    }
  }
}
