/* Tables */
$table-color: rgba($dark, 0.7) !default;
$table-cell-border-color: rgba($dark, 0.2) !default;
$table-cell-padding: 15px !default;
$table-head-cell-border-color: rgba($dark, 0.3) !default;
$table-head-cell-color: $dark !default;
$table-font-size: 12px !default;

.table {
  font-size: $table-font-size;
  border-radius: 6px;
  width: 100%;
  min-width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  table-layout: fixed;

  &.fit-content {
    width: auto;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: -o-max-content;
    width: max-content;
  }

  @include material-shadow($dark);

  td,
  th {
    border-color: $table-cell-border-color;
    padding: $table-cell-padding;
    text-align: center;
  }

  thead {
    th {
      border-bottom-color: $table-head-cell-border-color;

      .sort-icon {
        color: rgba($table-head-cell-color, 0.8);
        cursor: pointer;
      }
    }
  }

  tbody {
    tr {
      --bg-hover-alpha: 0.5;
      height: fit-content;

      &:hover {
        cursor: pointer;
      }
    }

    td {
      position: relative;
      font-weight: 400;
    }

    th {
      .active {
        .arrow {
          opacity: 1;
        }
      }
    }
  }

  &.is-bordered {
    tbody {
      td {
        border: 1px solid tint($dark, 70%);
      }
    }
  }

  &__wrapper {
    width: 100%;
    overflow-x: auto;
    padding: 0.5px;
  }

  &__row {
    &--checker {
      .is-checkradio[type="checkbox"] + label {
        &::before {
          color: $table-cell-border-color;
          border: 2px solid $table-cell-border-color;
          outline: none;
        }
      }
    }
  }

  &__cell {
    vertical-align: middle;
    height: 100%;
    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }

  &__column {
    &--expandable {
      width: 30px;
    }
    &--checkable {
      width: 40px;
    }
  }

  &__functions {
    min-width: 40px;
    max-width: 100px;
  }

  .expandable {
    &__row {
      padding: 0;
    }

    &__col {
      padding: 0;
      border-bottom: none;
      width: 1px;
    }

    &__container {
      border-bottom: 1px solid rgba($table-cell-border-color, 0.1);
    }

    &__content {
      padding: 0.5rem;
    }
  }
}
