// Background
$this-background: $white-ter !default;

$this-custom-colors: null !default;
$this-custom-shades: null !default;

// Colors
$this-main-colors:  (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "link": (
    $link,
    $link-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "secondary": (
    $secondary,
    $secondary-invert
  ),
  "moderate": (
    $moderate,
    $moderate-invert
  ),
  "happy": (
    $happy,
    $happy-invert
  ),
  "opaque": (
    $opaque,
    $opaque-invert
  )
) !default;

$this-colors: mergeColorMaps(
    $this-main-colors,
    $this-custom-colors
) !default;

$this-shades: mergeColorMaps(
    (
      "black-bis": $black-bis,
      "black-ter": $black-ter,
      "grey-darker": $grey-darker,
      "grey-dark": $grey-dark,
      "grey": $grey,
      "grey-light": $grey-light,
      "grey-lighter": $grey-lighter,
      "white-ter": $white-ter,
      "white-bis": $white-bis
    ),
    $this-custom-shades
) !default;
